body {
    font-family: sans serif;
    background-color: #d6a6a6;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.img-small{
    height: 200px;
    width: 200px;
}
.italic{
    font-style: italic;
}
#udeco{
    color: grey;
    font-style: italic;
}
#border{
   border: 2px black;
}
